/*@media screen and (min-width: 1200px) {
    .page-content-wrapper {
        width: 95%;
    }
}*/
    
/* ---------- FONT FACE ---------- */
@font-face {
    font-family: myfont;
    src: url('../font/custom/Kanit-Regular.ttf')
}


/* ---------- GENERAL ---------- */



body {
    font-family: 'Kanit', 'myfont', sans-serif;
    color: #333;
    font-size: 14pt;
}

.page-content-wrapper {
    padding-top: 70px;
    background-color: #f9f9f9;
}

.page-content-wrapper2 {
    padding-top: 150px;
}

.img-patient {
    margin-left: 20px;
    width: 100%;
    max-width: 150px;
}

.img-doctor {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.tab-content{
    padding: 10px;
    border-bottom: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    background-color: #fff;
}

dt {
    color: #333;
}

dd {
    color: #333;
}

.text-color {
    color: #5ca038;
}

a {
    color: #5ca038;
}

a:hover {
    color: darkslategrey;
    text-decoration: underline;
}

/* ---------- NAVBAR ---------- */

.img-logo {
    height: 30px;
    width: auto;
}

.navbar-green {
    color: #fff;
    background-color: #5ca038;
}

.navbar-green small {
    color: #fff;
    background-color: #5ca038;
}

.navbar-green .container-fluid .navbar-header a {
    color: #fff;
}

.navbar-green .container-fluid .navbar-right a {
    color: #fff;
}

.navbar-green .container-fluid .navbar-right a:hover {
    color: darkslategrey;
    text-decoration: underline;
}

.nav-tabs li a:hover {
    background-color: #dff0d8;
}

/* ---------- TIMELINE ---------- */

ol#timeline {
    position: relative;
    display: block;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 30px;
    height: 5px;
    background: #5ca038;
}
/*ol::before, ol::after {
    content: "";
    position: absolute;
    top: -8px;
    display: block;
    widows: 0;
    height: 0;
    border-radius: 10px;
    border: 10px solid #5ca038;
}
ol::before {
	left: -10px;
}
ol::after {
	right: -10px;
	border: 10px solid transparent;
	border-right: 0;
	border-left: 20px solid #5ca038;
    border-radius: 3px;
}*/

ol::after {
    content: "";
    position: absolute;
    top: -8px;
    display: block;
    widows: 0;
    height: 0;
    border-radius: 10px;
    border: 10px solid #5ca038;
    right: -10px;
	border: 10px solid transparent;
	border-right: 0;
	border-left: 20px solid #5ca038;
    border-radius: 3px;
}

/* ---- Timeline elements ---- */

li#timedot {
	position: relative;
	top: -10px;
	display: inline-block;
	float: left;
	width: 250px;
    color: #5ca038;
	/*transform: rotate(-45deg);*/
	/*font: bold 14px arial;*/
    
}
li#timedot::before {
	content: "";
	position: absolute;
	top: 3px;
	left: -50px;
	display: block;
	width: 20px;
	height: 20px;
	border: 4px solid #5ca038;
	border-radius: 10px;
	background: #fff;
}

/* ---- Details ---- */

.details {
	display: none;
	position: absolute;
	left: -60px;
    bottom: 30px;
	padding: 10px;
	border-radius: 5px;
	border-right: 2px solid rgba(0,0,0,.1);
	border-top: 2px solid rgba(0,0,0,.1);
	/*transform: rotate(45deg);*/
	background-color: whitesmoke;
}
.details::before {
	content: "";
	position: absolute;
	left: 10px;
	bottom: -10px;
	display: block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: whitesmoke;
	border-bottom: 0;
}

/* ---- Hover effects ---- */

li#timedot:hover {
    cursor: pointer;
    color: #333;
}
li#timedot:hover::before {
	top: 3px;
	left: -50px;
	width: 20px;
	height: 20px;
	border-width: 4px;
	/*border-color: #5ca038;*/
    background: #5ca038;
}
li#timedot:hover .details {
	display: block;
    color: #333;
}

/* ---------- GRAPH ---------- */

/* Step 5 – Graph Container Styles */
/* Resets */
.graph-container,
.graph-container div,
.graph-container a,
.graph-container span {
    margin: 0;
    padding: 0;
}

/* Gradinet and Rounded Corners */
.graph-container, #tooltip, .graph-info a {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Graph Container */
.graph-container {
    position: relative;
    width: 550px;
    height: 300px;
    padding: 20px;
 
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}
 
.graph-container > div {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 10px;
    left: 25px;
}
 
.graph-info {
    width: 590px;
    margin-bottom: 10px;
}

/* Step 6 – Graph Legend & Buttons */
.graph-info a {
    position: relative;
    display: inline-block;
    float: left;
    height: 20px;
    padding: 7px 10px 5px 30px;
    margin-right: 10px;
    text-decoration: none;
    cursor: default;
}

/* Color Circles */
.graph-info a:before {
    position: absolute;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    top: 13px;
    left: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.graph-info .visitors { border-bottom: 2px solid #71c73e; }
.graph-info .returning { border-bottom: 2px solid #77b7c5; }
 
.graph-info .visitors:before { background: #71c73e; }
.graph-info .returning:before { background: #77b7c5; }

/* Lines & Bars Buttons */
#lines, #bars {
    width: 34px;
    height: 32px;
    padding: 0;
    margin-right: 0;
    margin-left: 10px;
    border-bottom: 2px solid #71c73e;
    float: right;
    cursor: pointer;
}
 
#lines.active, #bars.active {
    background: #82d344;
    background: -moz-linear-gradient(top, #82d344 0%, #71c73e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82d344), color-stop(100%,#71c73e));
    background: -webkit-linear-gradient(top, #82d344 0%,#71c73e 100%);
    background: -o-linear-gradient(top, #82d344 0%,#71c73e 100%);
    background: -ms-linear-gradient(top, #82d344 0%,#71c73e 100%);
    background: linear-gradient(to bottom, #82d344 0%,#71c73e 100%);
}
 
#lines span, #bars span {
    display: block;
    width: 34px;
    height: 32px;
    /*background: url('../img/lines.png') no-repeat 9px 12px;*/
    background: url('../img/grandma.gif') no-repeat 9px 12px;
}
 
#bars span { background: url('../img/bars.png') no-repeat center 10px; }
 
#lines.active span { background-image: url('../img/lines_active.png'); }
 
#bars.active span { background-image: url('../img/bars_active.png'); }

/* Clear Floats */
.graph-info:before, .graph-info:after,
.graph-container:before, .graph-container:after {
    content: '';
    display: block;
    clear: both;
}

/* Step 8 – Typography */
#tooltip, .graph-info a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #646464;
}
 
.tickLabel {
    font-weight: bold;
    font-size: 12px;
    color: #666;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.yAxis .tickLabel:first-child,
.yAxis .tickLabel:last-child { display: none; }


/* Step 9 – Tooltip */
#tooltip {
    position: absolute;
    display: none;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
}


/*Test part*/

/*test circle*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50px;
}
.btn-circle.btn-xxl {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  font-size: 30px;
  line-height: 1.33;
  border-radius: 75px;
}
.btn-circle a {
	color:white;
    font-size: 36px;
    text-align: center;
}
/*end test circle*/

/*test img patient*/
.img-circle {
    width: 75px;
    height: 75px;
    margin-top: 15px;
    margin-left: 15px;
} 
.img-circle-patient {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-left: 0px;
    border: 1px solid green;
} 
/*end test img patient*/

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: green;
}